<div id="offer">Descubre nuestros productos</div>
<div id="image-carousel" class="image-carousel">
  <div class="carousel-track">
    @each(image in images)
      <img src="{{ image }}" class="carousel-image" alt="Dynamic Image">
    @endeach
  </div>
</div>