<h2>¿Te atrapó esta historia? Encuentra más lecturas como esta</h2>
<div class="products-list">
  @if (categoryProducts)
      @each(product in categoryProducts)
          @component('components/card-product', { product: product , user, USER_ROL})
          @endcomponent
      @endeach
  @endif
</div>
