<div id="best">Los más vendidos</div>
<div class="products-list">
  @if (firstProducts)
      @each(product in firstProducts)
          @component('components/card-product', { product: product, user: user, USER_ROL})
          @endcomponent
      @endeach
  @endif
</div>
