<!--  partials/product-list.edge -->

<div class="products-grid">
    @each(product in products)
      @component('components/card-product', { product: product })
      @endcomponent
    @endeach
</div>
