.products-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  padding: 20px;
}

.filters label {
  font-size: 18px; 
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.filters input[type="checkbox"] {
  margin-right: 15px; 
  transform: scale(1.2); 
}

.products-list-5 {
  margin: 0 auto; 
  display: flex;
  justify-content: center; 
  width: 100%; 
}

.products-list-5 .libros {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 530px; 
  width: calc(20% - 20px); 
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(124, 123, 123, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 10px;
  margin-left: 18px;
  margin-right: -2px;
  margin-bottom: 25px;
}

.products-list-5 .products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;  
  align-items: flex-start;
  width: 100%;
  max-width: 1459px;
  min-width: 468px;
  padding: 20px;
  background-color: #dfdede;
  box-sizing: border-box;
  position: relative;
  gap: 0px;  
  top: -20px;
}

.products-list-5 .libros:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sub-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20px auto;
  max-width: 1200px;
  gap: 20px;
}

.filters {
  flex: 5;
  max-width: 300px;
  min-width: 150px;
  background-color: #f9f9f9;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-left: -115px; 
  transition: margin 0.3s ease; 
}

@media (max-width: 1280px) {
  .filters {
    max-width: 250px;
    margin-left: -20px; 
  }
}

@media (max-width: 1024px) {
  .filters {
    max-width: 200px;
    margin-left: 75px; 
  }
}

@media (max-width: 768px) {
  .filters {
    flex: 1;
    max-width: 100%;
    margin-left: 30px; 
  }
}

@media (max-width: 480px) {
  .filters {
    max-width: 100%;
    margin-left: 5px; 
    padding: 10px;
  }
}

.filters h4 {
  margin-bottom: 10px;
}

.products-grid {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  background-color: #dfdede;
  padding: 15px;
  margin-top: -40px;
}

.products-grid .libros {
  width: calc(24% - 20px);
  min-width: 210px;  
  min-height: 500px;
  max-height: 420px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(124, 123, 123, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  margin-top: -10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .products-grid .libros {
    width: calc(32% - 20px);  
  }
}

@media (max-width: 768px) {
  .products-grid .libros {
    width: 100%;  
  }
}

.products-grid .libros:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card__image {
  width: 100%; 
  max-width: 674px; 
  min-width: 130px; 
  height: 360px; 
  max-height: 380px; 
  min-height: 120px; 
  border-radius: 8px;
  object-fit: cover; 
  margin-bottom: -15px;
}

.product-card__details {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  gap: 5px; 
  margin-top: 20px;
  min-height: inherit;
}

.nombreLibro {
  font-size: 13px;  
  font-weight: bold;
  font-family: "Roboto";
  text-align: left;
}

.autor {
  font-size: 12px;  
  font-family: "Roboto";
  margin-top: -10px;
  margin-bottom: inherit;
  text-align: left;
}

.products-list-5 .autor {
  margin-bottom: auto;
}

.precio {
  font-size: 19px;  
  font-family: "Roboto";
  font-weight: bold;
  color: #b81313;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
}


@media (max-width: 1024px) {
    .products-list-5 .libros {
        width: calc(50% - 20px);  
    }

    .products-grid .libros {
        width: calc(30% - 20px);  
    }
}

@media (max-width: 768px) {
    .products-list-5 .libros,
    .products-grid .libros {
        width: 100%;  
    }
}

.products-grid .libros .product-card__image {
  width: 100%; 
  max-width: 674px; 
  min-width: 130px; 
  height: 330px; 
  max-height: 380px; 
  min-height: 120px; 
  border-radius: 8px;
  object-fit: cover; 
  margin-bottom: -15px;
}

.cart-item__quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.cart-item__quantity .quantity-input {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #1E88E5;
  border-radius: 8px;
  background-color: #f5f5f5;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  color: #333;
}

.cart-item__quantity .quantity-btn {
  background-color: #1E88E5;
  color: white;
  width: 36px;
  height: 36px;
  font-size: 22px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.cart-item__quantity .quantity-btn:hover {
  background-color: #1565C0;
  transform: scale(1.1);
}

.cart-item__quantity .quantity-btn:active {
  background-color: #0D47A1;
  transform: scale(0.95);
}

.libros {
  position: relative; 
  overflow: hidden; 
}

.add-to-cart-form {
  display: block; 
  position: absolute; 
  bottom: -100%; 
  left: 0;
  right: 0;
  width: 100%; 
  padding: 20px;
  background-color: #f0f0f0; 
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: bottom 0.1s ease-out; 
}

.libros:hover .add-to-cart-form {
  display: block; 
  bottom: 0; 
  animation: slideUp 0.1s ease-out; 
}

@keyframes slideUp {
  0% {
    bottom: -100%; 
  }
  100% {
    bottom: 0; 
  }
}

.add-to-cart-btn {
  background-color: #003f75;
  color: white;
  font-size: 20px;
  padding: 14px 22px; 
  font-family: "Roboto", sans-serif; 
  border-radius: 8px;
  margin-bottom: 7px;
  border: none;
  cursor: pointer;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s, transform 0.1s, box-shadow 0.2s; 
}

.add-to-cart-btn:hover {
  background-color: #1565C0;
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.add-to-cart-btn:active {
  background-color: #0D47A1;
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.buy-now-btn {
  background-color: #D81B60; 
  color: white;
  font-size: 19x;
  padding: 14px 22px; 
  font-family: "Roboto", sans-serif; 
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s, transform 0.1s, box-shadow 0.2s; 
}

.buy-now-btn:hover {
  background-color: #C2185B; 
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.buy-now-btn:active {
  background-color: #880E4F; 
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.buy-now-btn-disabled {
  background-color: #5a5a5a; 
  color: white;
  font-size: 19x;
  padding: 14px 22px; 
  font-family: "Roboto", sans-serif; 
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s, transform 0.1s, box-shadow 0.2s; 
}

.buy-now-btn-disabled:hover {
  background-color: #4b4b4b; 
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.buy-now-btn-disabled:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px) {
  .libros {
    width: calc(50% - 20px); 
  }

  .nombreLibro, .autor, .precio {
    font-size: 14px; 
  }
}

@media (max-width: 768px) {
  .libros {
    width: 100%; 
}

.nombreLibro, .autor, .precio {
    font-size: 12px; 
  }
}

.product-units-ex, .product-units-few, .product-units-many, .product-units-lot {
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  margin-left: 5px;
  margin-top: initial;
  margin-bottom: 20px;
}

.product-units-ex {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  color: #808080; 
}

.product-units-ex + svg {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.product-units-few {
  color: #ff3737; 
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.product-units-few + svg {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.product-units-many {
  color: #ff9900; 
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.product-units-many + svg {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.product-units-lot {
  color: #33cc33; 
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.product-units-lot + svg {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.text {
	margin-left: 5px;
	margin-top: 16px;
	position: absolute;
}


.pagination {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 20px;
  width: 100%; 
  padding: 10px 0; 
  box-sizing: border-box; 
}

.pagination a {
  padding: 10px 15px;
  margin: 16px;
  background-color: #1E88E5;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;

  text-align: center; 
  min-width: 40px; 
}

.pagination a:hover {
  background-color: #1565C0;
}

.pagination a.active {
  background-color: #0D47A1;
}

.pagination a.disabled {
  background-color: #ccc;
  pointer-events: none;
}

.pagination #currentPage {
  font-weight: bold;
  text-align: center; 
}