<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrfToken }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cart.css') }}">

    
    <script src="/js/stripe-pay-now.js" defer></script>

    <title>Pagar {{ product.name }}</title>
</head>
<body>
    @include('partials/header')

    <div class="payment-container">
        <div class="product-preview">
            <img src="{{ product.image }}" alt="Imagen del producto" class="product-image">
            <h1>{{ product.name }}</h1>
            <p>{{ product.description }}</p>
            <p class="price">Precio: {{ finalPrice.toFixed(2) }}€</p>
        </div>
        <div class="payment-form">
            <h2>Introduce los datos de tu tarjeta</h2>
            <div id="card-element"></div>
            
            <button id="btn-pagar" data-product-id="{{ product.productId }}">Pagar ahora</button>
        </div>
    </div>

    @component('components/loading-frame')
    @endcomponent

    @include('partials/footer')

    <script src="https://js.stripe.com/v3/"></script>

</body>
</html>
