<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrfToken }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" href="{{ asset('css/user-profile.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cart.css') }}">
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
    <title>Carrito</title>
</head>
<body>

    @include('partials/header')

    @component('components/shop-cart', { cart, totalPrice, user, USER_ROL })
    @endcomponent

    @include('partials/footer')
    @if(user && user.rol === USER_ROL.CLIENT)
      <script src="https://js.stripe.com/v3/"></script>
    @endif
    
    <script src="/js/stripe-pay.js"></script>

</body>
</html>
