<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
  
  @if (user)
  <h1>Estás autenticado como usuario {{ user.name }}</h1>
  <p>Tu correo electrónico es: {{ user.email }}</p>
  <a href="/logout">Cerrar sesión</a>
@else
  <h1>Inicia sesión para continuar</h1>
  <a href="/login">Ir al login</a>
@endif
</body>
</html>