<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrfToken }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" href="{{ asset('css/containers.products.css') }}">
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
    <script src="{{ asset('js/load-page.js') }}"></script>
    <script src="{{ asset('js/adds.js') }}"></script>
    <script src="{{ asset('js/offer.js') }}"></script>
    <title>Inicio</title>
</head>
<body>
  @include('partials/header')

  @component('components/panel', {
    images: [
      '/assets/img/image1.jpg',
      '/assets/img/image2.jpg',
      '/assets/img/image3.jpg',
    ]
  })
  @endcomponent

  <div class="products-container">
    <div class="products-list-5">
        @include('partials/product-list')
    </div>
  </div>

  <div class="products-container">
    <div class="products-list-5">
      <div class="products-offer">
        @include('partials/product-recommended')
      </div>
    </div>
  </div>

  

  @include('partials/footer')

</body>
</html>
