<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
    <script src="{{ asset('js/load-page.js') }}"></script>
    <title>Login</title>
</head>
<body>
    @include('partials/header')
    <h1>Inicio de sesión</h1>

    <div class="modal">
        <form id="loginForm" action="{{ route('login') }}" method="POST">
            {{ csrfField() }}

            <div class="modal__body">

                <div class="input">
                    <label class="input__label" for="email">Email</label>
                    <input class="input__field" type="email" name="email" id="email" required>
                    <br>
                </div>

                <div class="input">
                    <label class="input__label" for="password">Contraseña</label>
                    <input class="input__field" type="password" name="password" id="password" required>
                    <br>
                </div>

                <button type="submit">Login</button>
            </div>
        </form>
    </div>
    @include('partials/footer')

</body>
</html>
