<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrfToken }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
    <script src="/js/product-validator.js"></script>
    <script src="{{ asset('js/load-page.js') }}"></script>
    <title>Productos</title>
</head>
<body>
       
    @include('partials/header')

    @component('components/form-product', { producto: producto, categories: categories, discounts: discounts, DISCOUNT_TYPE: DISCOUNT_TYPE,  modoCreacion, rutaAction, user })
    @endcomponent

    @include('partials/footer')
</body>
</html>
