<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
    <script src="/js/validate-register.js"></script>
    <script src="{{ asset('js/load-page.js') }}"></script>
    <title>Register</title>
</head>
<body>
    @include('partials/header')
    <h1>Registro de usuario</h1>

    <div class="modal">
        <form id="registerForm" action="{{ route('register') }}" method="POST" onsubmit="return validateForm()">
            {{ csrfField() }}

            <div class="modal__body">

                <div class="input">
                    <label class="input__label" for="firstName">Nombre</label>
                    <input class="input__field" type="text" name="firstName" id="firstName" required>
                    <span class="error-message" id="firstNameError" style="color: red;"></span>
                    <br>
                </div>

                <div class="input">
                    <label class="input__label" for="lastName">Apellidos</label>
                    <input class="input__field" type="text" name="lastName" id="lastName">
                    <span class="error-message" id="lastNameError" style="color: red;"></span>
                    <br>
                </div>

                <div class="input">
                    <label class="input__label" for="email">Email</label>
                    <input class="input__field" type="email" name="email" id="email" required>
                    <span class="error-message" id="emailError" style="color: red;"></span>
                    <br>
                </div>

                <div class="input">
                    <label class="input__label" for="password">Contraseña</label>
                    <input class="input__field" type="password" name="password" id="password" required>
                    <span class="error-message" id="passwordError" style="color: red;"></span>
                    <br>
                </div>

                <div class="input">
                    <label class="input__label" for="billingAddress">Dirección</label>
                    <input class="input__field" type="text" name="billingAddress" id="billingAddress" required>
                    <span class="error-message" id="billingAddressError" style="color: red;"></span>
                    <br>
                </div>

                <button type="submit">Enviar</button>
            </div>
        </form>
    </div>

    

    @include('partials/footer')
</body>
</html>
