<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" href="{{ asset('css/user-profile.css') }}">
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
    <script src="{{ asset('js/load-page.js') }}"></script>
    <title>Perfil del Usuario</title>
</head>
<body>
    @include('partials/header')

    @component('components/user-profile-details', { invoices, user, billAdd, formattedDate, USER_ROL })
    @endcomponent

    @include('partials/footer')
    
</body>
</html>
